/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {
	-fx-background-image: url("../etc/background.png");
   	-fx-background-repeat: stretch;   
   	-fx-background-size: 600.0 400.0;
    -fx-background-position: center center;
}

#number_btn {
  -fx-background-image: url('../menu/number_btn.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;
}

#dice_btn {
  -fx-background-image: url('../menu/dice_btn.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;
}

#card_btn {
  -fx-background-image: url('../menu/card_btn.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;
}

#yesno_btn {
  -fx-background-image: url('../menu/yesno_btn.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;
}

#coin_btn {
  -fx-background-image: url('../menu/coin_btn.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;
}

#rps_btn {
  -fx-background-image: url('../menu/rps_btn.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;
}

#food_btn {
  -fx-background-image: url('../menu/food_btn.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;
}

#arrange_btn {
  -fx-background-image: url('../menu/arrange_btn.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;
}

#pickup_btn {
  -fx-background-image: url('../menu/pickup_btn.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;
}

#back_btn {
  -fx-background-image: url('../etc/back.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;
}

#clear_btn {
  -fx-background-image: url('../etc/clear.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;
}

#random_btn {
  -fx-background-image: url('../etc/random.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;
}

#number_head {
  -fx-background-image: url('../header/number.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;
}

.label {
  -fx-background-color: rgb(252,252,252);
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;
}